// Variable Overrides 

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";

// Variable Overrides 
$theme-colors: (
  "primary": #d95700
);

$grid-gutter-width: 1000px;

.bracketsmodule {
text-align: center;
padding-top: 40px; 
  background-color: blue;
  h1{
    color: white;
  }
  .subheading {
    color: white;
  }
  
}

.bracketscontainer { 
  background-color: blue;
  padding-bottom: 40px;
  text-align: center;
  vertical-align: bottom;
  
}

.bracket {
  text-align: center;
  background-color: white;
 // min-height: 50px;
  overflow-wrap: break-word;
  padding: 30px;
 min-height: 100%;
 
}

